.main {
  background-color: #201F2E;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  position: relative;
}

main {
  margin-top: 210px;
  margin-bottom: 96px;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Breadcrumbs-text:hover {
  height: 40px;
  width: 109px;
  left: 97px;
  top: 0px;
  border-radius: 32px;
  border: 1px solid #C4C1CF;
  box-sizing: border-box;
  border-radius: 32px;
}

