.main {
    background-color: #201F2E;
    display: flex;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
  }
  
  main {
    margin-top: 232px;
    margin-bottom: 96px;
  }
  
  .cards-list {
    display: flex;
    flex-wrap: wrap;
  }
 
  .Breadcrumbs-text:hover {
    height: 40px;
    width: 109px;
    left: 97px;
    top: 0px;
    border-radius: 32px;
    border: 1px solid #C4C1CF;
    box-sizing: border-box;
    border-radius: 32px;
  }
  
  .card-two {
    display: flex;
    padding: 0px 32px 0px 32px;
  }
  
  .cardtext {
    width: 132px;
    left: 32px;
    top: 83.29%;
    bottom: 10.12%;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
  }
  
  .cardtexttwo {
    width: 88px;
    left: 32px;
    top: 89.41%;
    bottom: 5.65%;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #C4C1CF;
  }
  
  .cardrazmet{
    position: absolute;
    margin: 560px 50px 25px 65px;
  }
  .cardrazmettwo {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 1040px 50px 25px 65px;
  }

@media screen and (min-width: 100px) and (max-width: 385px) {
  .card {
    padding: 16px 0;
    margin: 0 auto;
  }

  .cardblack {
    left: 15px;
  }

  .flag {
    right: 30px;
  }

  .cardrazmett {
    left: 32px;
  }
}
  /* @media screen and (max-width: 767px ) {
    .main {
  
    }
  } */
  