.upper-favorite {
    position: fixed;
    width: 100%;
    height: 140px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #0E0D13 0%, rgba(14, 13, 19, 0.9) 46.54%, rgba(14, 13, 19, 0) 100%);
    z-index: 10;
}

.upper-favorite-text {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 28px;
    top: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FF005C;
}