.card__link {
  padding: 0;
  border-width: 0px;
  border-radius: 38px;
  height: 421px;
  width: 100%;
}

.card {
  display: flex;
  position: relative;
  width: 100%;
}

.col {
  margin: 0 auto;
  width: 100%;
  padding: 16px 16px;
  border-radius: 38px;
  overflow: hidden;
  box-sizing: border-box;
}

.card__image {
  width: 100%;
  height: 421px;
  object-fit: cover;
  border-radius: 38px;
}

.card__noResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  padding: 20px 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.card__cardblack {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  max-width: 80px;
  max-height: 80px;
  background-color: #0E0D13;
  border-radius: 24px;
  top: 18px;
  left: 18px;
  padding: 20px 10px;
}

.card__cardblack-percents {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
}

.card__cardblack-alcohol {
  width: 61px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #C4C1CF;
}

.card__text{
  position: absolute;
  left: 32px;
  bottom: 24px;
}

.card__title {
  left: 32px;
  top: 83.29%;
  bottom: 10.12%;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.card__flag {
  position: absolute;
  top: -8px;
  right: 32px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.card__subtitle {
  left: 32px;
  top: 89.41%;
  bottom: 5.65%;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #C4C1CF;
}

.card__content-style:before {
  border-radius: 38px;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0,0,0,0.6505952722886029) 0%, rgba(255,255,255,0) 25%);
}

@media screen and (min-width: 768px) {
  .col {
    width: 50%;
    padding: 16px 16px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1024px) {
  .col {
    width: 33%;
    padding: 16px 16px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1440px) {
  .col {
    width: 25%;
    padding: 16px 16px;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1800px;
  }
}