.container__card-style {
  padding: 0;
  border-width: 0px;
  border-radius: 38px;
  overflow: hidden;
  height: 421px;
  width: 100%;
}

.container__card {
  display: flex;
  position: relative;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

.container {
  width: 100%;
  padding: 16px 16px;
  box-sizing: border-box;
}

.container__card-style-content {
  width: 100%;
  height: 421px;
  object-fit: cover;
}

.container__noResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  padding: 20px 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.container__cardblack {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  max-width: 80px;
  max-height: 80px;
  background-color: #0E0D13;
  border-radius: 24px;
  top: 32px;
  left: 30px;
  padding: 20px 10px;
}

.container__percents {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
}

.container__alcohol {
  width: 61px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #C4C1CF;
}

.description{
  position: absolute;
  left: 30px;
  bottom: 45px;
}

.description__title {
  left: 32px;
  top: 83.29%;
  bottom: 10.12%;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.flag {
  position: absolute;
  top: -8px;
  right: 62px;
  border: none;
  background: transparent;
}

.description__title-down {
  left: 32px;
  top: 89.41%;
  bottom: 5.65%;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #C4C1CF;
}

@media screen and (min-width: 768px) {
  .container {
    width: 50%;
    padding: 16px 16px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 33%;
    padding: 16px 16px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 25%;
    padding: 16px 16px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}