.style {
    padding: 0;
  border-width: 0px;
  border-radius: 38px;
}

.card {
  display: flex;
  position: relative;
  padding: 16px 32px 16px 32px;
  width: 320px;
  height: 421px;
}

.cardblack {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  max-width: 80px;
  max-height: 80px;
  background-color: #0E0D13;
  border-radius: 24px;
  top: 32px;
  left: 47px;
  padding: 20px 10px;
}

.cardblacktext {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
}

.cardblacktextalc {
  width: 61px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  /*line-height: 16px;*/
  color: #C4C1CF;
  /*margin: 50px 0 0 5px;*/
}

.cardrazmett {
  position: absolute;
  left: 64px;
  right: 0;
  bottom: 45px;
}

.cardtextt {
  width: 132px;
  left: 32px;
  top: 83.29%;
  bottom: 10.12%;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}

.flag {
  position: absolute;
  top: 10px;
  right: 62px;
  border: none;
  background: transparent;
}

.cardtexttwoo {
  left: 32px;
  top: 89.41%;
  bottom: 5.65%;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #C4C1CF;
}