.wrapper {
    display: flex;
    flex-direction:column ;
}

header {
    position: fixed;
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
}

.razmet{
    background: #201F2E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 28px;
}

.text {
    border: none;
    background: transparent;
    padding: 32px 0 0 32px;
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.date {
    padding: 0 0 0 32px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #C4C1CF;
}

.logo {
    padding: 32px 32px 0 0;
}

.logo-two {
    margin-left: 45px;
}

.logo-three {
    position: absolute;
    margin-left: 24px;
}


nav {
    Background: linear-gradient(
          180deg, #201F2E 36%, rgba(32, 31, 46, 0) 100%);
    display: flex;
    overflow: auto;
    height: 60px;
    align-items: flex-start;
    padding-left: 13px;
  }
  
  .nav-button {
    width: 109px;
    height: 40px;
    line-height: 21px;
    font-size: 18px;
    background-color: transparent;
    color: #C4C1CF;
    padding: 0 16px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Roboto';
    border: 1px solid transparent;
    margin: 0 4px;
  }
  
  .nav-button:hover,
  .nav-button-active {
    border: 1px solid #C4C1CF;
    border-radius: 32px;
  }

/*!*.opacity {*!*/
/*!*    position: absolute;*!*/
/*!*    height: 64px;*!*/
/*!*    left: 0;*!*/
/*!*    bottom: -64px;*!*/
/*!*    right: 0;*!*/
/*!*    background: linear-gradient(180deg, #201F2E 0%, rgba(32, 31, 46, 0) 100%);*!*/
/*}*/