.wrapp {
    background-color: #201F2E;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
  
.fullback {
    z-index: 3;
    position: fixed;
    width: 64px;
    height: 64px;
    left: 32px;
    top: 32px;
    background: #44414E;
    border-radius: 16px;
    border: none;
}

.src {
    position: fixed;
    z-index: 0;
}

.glavgad {
    width: 425px;
    height: 86px;
    left: -42px;
    top: 84px;
    background: #201F2E;
    border-radius: 32px;
}

.description-text {
    border-top-right-radius: 32px;
    background: linear-gradient(to bottom, #201F2E 50%, black  50%);
    margin-top: 370px;
    position: absolute;
    /* bottom: 0;
    left: 0;
    right: 0; */
    font-weight: 300;
    line-height: 21px;
    color: #C4C1CF;
    padding: 0 32px;
}

.glav {
    margin-top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF
}

.podglav {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 32px;
}

.distruction {
    width: 320px;
    margin-top: 32px;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF
}

.distruction-text{
    width: 300px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #C4C1CF;
    margin-bottom: 32px;
}

.titlemain {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.titletext {
    width: 300px;
    margin-top: 8px;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
    
}
  /* main {
    margin-top: 160px;
    margin-bottom: 96px;
  } */
  
.marker {
    position: absolute;
    right: 0;
    margin-right: 40px;
}

.kriv {
    position: absolute;
    margin-top: 586px;
    left: 0;
}

.inner {
    display: flex;
    justify-content: space-between;
}