.cancel-table-input {
    position: relative;
    width: 100%;
    height: 46px;
    right: 14px;
    background: #44414E;
    border-radius: 32px;
    border: none;
    outline:none;
    color: #C4C1CF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    padding-left: 20px;
  }

.cancel-table {
  padding: 32px 32px 32px 46px;
  width: 100%;
}

  .cancel-top {
    position: absolute;
    border: none;
    right: 33px;
    top: 34px;
  }

  .button-top {
    background: none;
    border: none;
  }