.cardEmpty_style {
  padding: 0;
  border-width: 0px;
  border-radius: 38px;
  overflow: hidden;
  height: 421px;
}

.cardEmpty {
  position: relative;
  width: 321px;
  height: 421px;
  margin: 0 auto;
  background: url("../../images/empty.png") no-repeat;
  background-size: cover;
}

.cardEmpty_notResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  padding: 20px 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}
